codapi-snippet {
    display: block;
}

codapi-snippet > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

codapi-status {
    white-space: nowrap;
}

codapi-output {
    display: block;
}
